{% extends 'base.html' %}

{% block title %}Rewards Cards{% endblock %}

{% block content %}
<div id="loader" class="center"></div>
<header>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightskyblue">
		<div class="container d-flex flex-column flex-md-row align-items-center">
			<a class="navbar-brand pt-2" href="#">
				<!-- <i class="far fa-credit-card fa-2x"></i> -->
				<span class="brand" style="font-size: 40px; color:whitesmoke"><span
						style="color:rgb(2, 3, 43)">rewards</span>cards<span style="color:rgb(2, 3, 43)">.</span></span>
			</a>
		</div>
	</nav>
	<nav class="navbar navbar-expand navbar-light shadow-sm " style="height: 35px; font-size: 13px;">
		<div class="container">
			<ul class="navbar-nav">
				<a class="nav-link" href="/">Home </a>
				<a class="nav-link active" href="#">Credit Cards<span class="sr-only">(current)</span></a>
			</ul>
			<div class="row align-items-center">
				<div class="col">
					<span class="navbar-text">
						<!--this makes icons same color as brand-->
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/juan-guzman-sd"
								target="_blank" class="text-muted"><i class="fab fa-linkedin fa-lg"></i></a></li>
						<li class="list-inline-item"><a href="https://github.com/juan-guzman-dev/cc-finder"
								target="_blank" class="text-muted"><i class="fab fa-github fa-lg"></i></a></li>
						<li class="list-inline-item"><a
								href="mailto:juan-guzman-sd@gmail.com?subject=Capstone One Project" target="_blank"
								class="text-muted"><i class="far fa-envelope fa-lg"></i></a></li>
					</span>
				</div>
			</div>
		</div>
	</nav>
</header>

<main role="main">
	<div class="container">
		<div id="top-text" class="row mx-1 px-2 mt-4 rounded-sm"
			style="height: auto; background-color:rgb(2, 3, 43);color: lightskyblue;">
			<div class="col-12 pt-4">
				<h1>
					Find the best rewards credit card for you in 3 easy steps.
				</h1>
			</div>
			<row>
				<div class="col-12 pt-4 pb-2">
					<h5><i class="fas fa-filter pr-3"></i> Filter 350+ credit cards.</h5>
				</div>
				<div class="col-12 pt-3 pb-2">
					<h5><i class="fas fa-comment-dollar pr-3"></i> Fill out form with your spending habits.</h5>
				</div>
				<div class="col-12 pt-3 pb-4">
					<h5><i class="far fa-credit-card pr-3"></i> Apply for a card.</h5>
				</div>
			</row>
			<a href="#summaryBtn" class="d-sm-none mb-4 mx-2" role="button" id="summaryBtn">
				Summary
				<i class="fas fa-plus-circle"></i>
			</a>
			<div class="d-none d-sm-flex px-3 pb-4" id="paragraph">
				<p>
					Compare credit cards from all of the major issuers and quickly find the best rewards credit card for
					your needs. Start by applying filters from the left side of the page to narrow down your search.
					This will allow you to focus on comparing credit cards that actually offer the features you want.
					Next, fill out the spend form with your spending habits and we'll calculate the first year rewards
					that you would earn on each card.
					To apply for a credit card, simply click the "Apply Now" button, and we will connect you to the
					issuer’s secure online credit card application.
				</p>

			</div>
		</div>
		<!--spend form-->
		<div class="row px-1">
			<div class="col-12">
				<button id="form-section-btn" class="btn btn-primary btn-lg btn-block font-weight-bold;"
					style="line-height: 45px; font-size:20px;" role="button">
					<span>Show spend form</span>
					<i class="fas fa-chevron-down"></i>
				</button>
			</div>
		</div>
		<div class="container d-none" id="spendContainer">
			<div class="row px-1">
				<div class="col-12 border bg-light" style="height: auto; background-color:rgb(255, 255, 255)">
					<section>
						<div id="submittedMsg" class="alert alert-success alert-dismissible fade show mt-3 d-none"
							role="alert">
							<button id="submittedMsgBtn" type="button" class="close" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<!-- <h4 class="alert-heading">Message:</h4> -->
							Form submitted. You can now see the <span class="font-weight-bold">first year rewards</span>
							you would earn on each card.
						</div>
					</section>
					<div id="submitMsg" class="alert alert-info mt-3" role="info">
						Submit your spend form to calculate and display the <span class="font-weight-bold">first year
							rewards</span> you would earn on each credit card.
					</div>
					</section>
					<h4 class="mt-4 mb-4" style="font-weight: 600" id="totalSpend">Enter your monthly spend across
						several categories:</h4>
					<form id="spendForm">
						<div class="container">
							<div class="form-row border">
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="air">Airline:</label>
									<input class="form-control form-control-sm prc" type="text" id="air" name="air"
										value="" min="0" placeholder="$0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
										data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="cable">Cable:</label>
									<input class="form-control form-control-sm prc" type="text" id="cable" name="cable"
										value="" min="0" placeholder="$0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
										data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="car">Car Rental:</label>
									<input class="form-control form-control-sm prc" type="text" id="car" name="car"
										value="" min="0" placeholder="$0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
										data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="dept">Department Store:</label>
									<input class="form-control form-control-sm prc" type="text" id="dept" name="dept"
										value="" min="0" placeholder="$0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
										data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="drug">Drug Store:</label>
									<input class="form-control form-control-sm prc" type="text" id="drug" name="drug"
										value="" min="0" placeholder="$0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
										data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="entertain">Entertainment:</label>
									<input class="form-control form-control-sm prc" type="text" id="entertain"
										name="entertain" value="" min="0" placeholder="$0"
										pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="gas">Gas Station:</label>
									<input class="form-control form-control-sm prc" type="text" id="gas" name="gas"
										value="" min="0" placeholder="$0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
										data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="home">Home Improv. Store:</label>
									<input class="form-control form-control-sm prc" type="text" id="home" name="home"
										value="" min="0" placeholder="$0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
										data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="hotel">Hotel:</label>
									<input class="form-control form-control-sm prc" type="text" id="hotel" name="hotel"
										value="" min="0" placeholder="$0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
										data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="office">Office Supply Store:</label>
									<input class="form-control form-control-sm prc" type="text" id="office"
										name="office" value="" min="0" placeholder="$0"
										pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="online">Online Shopping:</label>
									<input class="form-control form-control-sm prc" type="text" id="online"
										name="online" value="" min="0" placeholder="$0"
										pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="phone">Phone Service:</label>
									<input class="form-control form-control-sm prc" type="text" id="phone" name="phone"
										value="" min="0" placeholder="$0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
										data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="restaurant">Restaurant:</label>
									<input class="form-control form-control-sm prc" type="text" id="restaurant"
										name="restaurant" value="" min="0" placeholder="$0"
										pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="supermarket">Supermarket:</label>
									<input class="form-control form-control-sm prc" type="text" id="supermarket"
										name="supermarket" value="" min="0" placeholder="$0"
										pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency">
								</div>
								<div class='form-group col-6 col-sm-3 col-md-2 label'>
									<label for="utility">Utility:</label>
									<input class="form-control form-control-sm prc" type="text" id="utility"
										name="utility" value="" min="0" placeholder="$0"
										pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency">
								</div>
							</div>
						</div>
						<p class="mt-4 font-weight-bold" id="result">Total monthly spend:</p>
						<button type="submit" class="btn btn-outline-dark mt-2 mb-4">Calculate first year
							rewards</button>
					</form>
				</div>
			</div>
		</div>
		<!--end of spend container-->
		<br>
		<button type="button" id="sidebarShow" class="d-xl-none btn btn-secondary mb-4 mx-2">
			<i class="fas fa-align-left"></i>
			<span>Toggle Filters</span>
		</button>
	</div>
	<!--end of container-->
	<div class="container-fluid bg-light" id="mid-area">
		<div class="container">
			<div class="row">
				<!--left column for filters-->
				<div class="col-3 d-none d-xl-flex bg-light py-5 left-column">
					<aside>
						<form method="POST" action="/credit-cards" id="myForm">
							<!--filter for rewards programs-->
							<div class="row px-1 px-lg-3">
								<div class="col-12" id="checkbox-container-programs">
									<h5 class="font-weight-bold">Rewards Programs</h5>
									<div class="form-check pt-2">
										<label class="form-check-label" for="points">
											<input class="form-check-input programs pb-1" type="checkbox" value="points"
												id="points" name="points" checked>
											<span class="pl-3 pt-1">Reward Points Credit Cards</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="travel">
											<input class="form-check-input programs pb-1" type="checkbox" value="travel"
												id="travel" name="travel" checked>
											<span class="pl-3 pt-1">Travel Rewards Credit Cards</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="cash">
											<input class="form-check-input programs pb-1" type="checkbox" value="cash"
												id="cash" name="cash" checked>
											<span class="pl-3 pt-1">Cash Back Credit Cards</span>
										</label>
									</div>
									<div>
										<p id="warning_programs" class="alert alert-warning starthidden mt-2"
											role="alert">Please make a selection.</p>
									</div>
									<div class="btn-group ml-0" role="group">
										<button class="btn btn-link mt-2 check-all" type="button" link">Uncheck
											All</button>
									</div>
								</div>
								<!--end of column-->
							</div>
							<!--filter for earning categories-->
							<div class="row px-1 px-lg-3">
								<div class="col-12 mt-4" id="checkbox-container-earns">
									<h5 class="font-weight-bold">Earning Categories</h5>
									{% for cat in earn_cats %}
									<div class="form-check pt-2">
										<label class="form-check-label" for={{cat.name}}>
											<input class="form-check-input earns pb-1" type="checkbox" value={{cat.id}}
												id={{cat.name}} name="earn_cats" checked>
											<span class="pl-3 pt-1">{{cat.name}}</span>
										</label>
									</div>
									{% endfor %}
									<div>
										<p id="warning_cats" class="alert alert-warning starthidden mt-2" role="alert">
											Please make a selection.</p>
									</div>
									<div class="btn-group ml-0" role="group">
										<button class="btn btn-link mt-2 check-all" type="button" link">Uncheck
											All</button>
									</div>
								</div>
								<!--end of column-->
							</div>
							<!--filter for banks-->
							<div class="row px-1 px-lg-3">
								<div class="col-12 mt-4" id="checkbox-container-banks">
									<h5 class="font-weight-bold">Credit Card Companies</h5>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e685fbae89bb63d3d6b256f">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e685fbae89bb63d3d6b256f" id="5e685fbae89bb63d3d6b256f"
												name="main_banks" checked>
											<span class="pl-3 pt-1">American Express®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e685f92e89bb63d3d6b2559">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e685f92e89bb63d3d6b2559" id="5e685f92e89bb63d3d6b2559"
												name="main_banks" checked>
											<span class="pl-3 pt-1">Bank of America®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e685f92e89bb63d3d6b255a">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e685f92e89bb63d3d6b255a" id="5e685f92e89bb63d3d6b255a"
												name="main_banks" checked>
											<span class="pl-3 pt-1">Barclaycard®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e685fe4e89bb63d3d6b257d">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e685fe4e89bb63d3d6b257d" id="5e685fe4e89bb63d3d6b257d"
												name="main_banks" checked>
											<span class="pl-3 pt-1">Capital One®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e685f99e89bb63d3d6b255b">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e685f99e89bb63d3d6b255b" id="5e685f99e89bb63d3d6b255b"
												name="main_banks" checked>
											<span class="pl-3 pt-1">Chase®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e685fece89bb63d3d6b2581">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e685fece89bb63d3d6b2581" id="5e685fece89bb63d3d6b2581"
												name="main_banks" checked>
											<span class="pl-3 pt-1">Citibank®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e686204e89bb63d3d6b2660">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e686204e89bb63d3d6b2660" id="5e686204e89bb63d3d6b2660"
												name="main_banks" checked>
											<span class="pl-3 pt-1">Discover®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e686201e89bb63d3d6b265f">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e686201e89bb63d3d6b265f" id="5e686201e89bb63d3d6b265f"
												name="main_banks" checked>
											<span class="pl-3 pt-1">HSBC®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e685f8fe89bb63d3d6b2556">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e685f8fe89bb63d3d6b2556" id="5e685f8fe89bb63d3d6b2556"
												name="main_banks" checked>
											<span class="pl-3 pt-1">U.S. Bank®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="5e6860a6e89bb63d3d6b25b7">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="5e6860a6e89bb63d3d6b25b7" id="5e6860a6e89bb63d3d6b25b7"
												name="main_banks" checked>
											<span class="pl-3 pt-1">Wells Fargo®</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="other_banks">
											<input class="form-check-input banks pb-1" type="checkbox"
												value="other_banks" id="other_banks" name="other_banks" checked>
											<span class="pl-3 pt-1">Other</span>
										</label>
									</div>
									<div>
										<p id="warning_banks" class="alert alert-warning starthidden mt-2" role="alert">
											Please make a selection.</p>
									</div>
									<div class="btn-group ml-0" role="group">
										<button class="btn btn-link mt-2 check-all" type="button" link">Uncheck
											All</button>
									</div>
								</div>
								<!--end of column-->
							</div>
							<!--I want filters-->
							<div class="row px-1 px-lg-3">
								<div class="col-12 mt-4" id="checkbox-container-wants">
									<h5 class="font-weight-bold">I Want</h5>
									<div class="form-check pt-2">
										<label class="form-check-label" for="intro_bonus">
											<input class="form-check-input pb-1" type="checkbox" value="intro_bonus"
												id="intro_bonus" name="intro_bonus">
											<span class="pl-3 pt-1">Intro Bonus</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="annual_fee">
											<input class="form-check-input pb-1" type="checkbox" value="annual_fee"
												id="annual_fee" name="annual_fee">
											<span class="pl-3 pt-1">No Annual Fee</span>
										</label>
									</div>
									<div class="form-check pt-2">
										<label class="form-check-label" for="foreign_fee">
											<input class="form-check-input pb-1" type="checkbox" value="foreign_fee"
												id="foreign_fee" name="foreign_fee">
											<span class="pl-3 pt-1">No Foreign Fee</span>
										</label>
									</div>
									<div class="btn-group ml-0" role="group">
										<button class="btn btn-link mt-2 check-all" type="button" link">Check
											All</button>
									</div>
									<!--end of column-->
								</div>
							</div>
							<!--submit button-->
							<div class="row px-1 px-lg-3">
								<div class="col-12 mt-4">
									<div>
										<button type="submit" id="filter" class="btn btn-outline-primary btn-md">Apply
											Filters</button>
									</div>
								</div>
							</div>
						</form>
					</aside>
				</div>
				<!--end of filters column-->
				<!--right column for cards table-->
				<div class="col col-xl-9 py-5 pl-xl-4 right-column">
					<!--Search Cards-->
					<div class="row justify-content-md-center bg-light">
						<div class=" col-md-7 pb-5">
							<input type="text" id="myInput" placeholder="Search card name.."
								class="tb_search form-control">
						</div>
					</div>
					<!--Max Rows-->
					<form>
						<div class="form-row">
							<div class="col">
								<div class="form-group form-inline">
									<label class="label pt-2 pt-sm-0" for="maxRows">Cards Per Page: </label> &nbsp;&nbsp
									<select name="state" id="maxRows" class="form-control"
										style="width:100px; font-size: small;">
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
										<option value="50">50</option>
										<option value="75">75</option>
										<option value="100">100</option>
										<option value="367">Show All</option>
									</select>
								</div>
							</div>
						</div>
					</form>
					<!-- <button onclick="sortTable(6)">Click me</button> -->
					<div class="table-responsive">
						<table class="table bg-white" id="myTable">
							<thead>
								<tr class="text-black bg-light">
									<th scope="col"></th>
									<th scope="col">Card Name</th>
									<th id="calc-th" scope="col" class="d-none"><span
											class='badge badge-primary px-2 mr-1 align-top' style="width: 2rem;"
											data-toggle="popover" data-trigger="hover"
											data-content="This is the dollar value of the estimated rewards you would earn in the first year. Our rewards estimate is based on A) your spending habits, B) terms & conditions (annual fee), C) any sign-up promotions, and D) the calculated dollar value of each reward point (1 point = $0.01). Of course, figuring out how much your rewards are worth can be tricky. In terms of points and miles, the ultimate value of your rewards may vary depending on how you redeem them.">i</span>First
										Year Rewards</th>
									<th scope="col">Rewards Program</th>
									<th scope="col">Rewards Rate</th>
									<th scope="col">Intro Bonus</th>
									<th scope="col">Annual Fee</th>
									<th scope="col">Foreign Fee</th>
									<th scope="col" style="display: none;">Air Pts</th>
									<th scope="col" style="display: none;">Cable Pts</th>
									<th scope="col" style="display: none;">Car Rental Pts</th>
									<th scope="col" style="display: none;">Department Store Pts</th>
									<th scope="col" style="display: none;">Drug Store Pts</th>
									<th scope="col" style="display: none;">Entertainment Pts</th>
									<th scope="col" style="display: none;">Gas Station Pts</th>
									<th scope="col" style="display: none;">Home Improvement Store Pts</th>
									<th scope="col" style="display: none;">Hote Pts</th>
									<th scope="col" style="display: none;">Office Supply Store Pts</th>
									<th scope="col" style="display: none;">Online Shopping Pts</th>
									<th scope="col" style="display: none;">Phone Service Pts</th>
									<th scope="col" style="display: none;">Restaurant Pts</th>
									<th scope="col" style="display: none;">Supermarket Pts</th>
									<th scope="col" style="display: none;">Utility Pts</th>
								</tr>
							</thead>
							<tbody>
								{% for card in cards %}

								<tr class="myCards" id="{{card._id}}" data-toggle="collapse" href="#x{{card._id}}"
									role="button" aria-expanded="false" aria-controls="cardDetails">
									<td class="text-center"><i class="test fas fa-plus-square"></i></td>
									<td class="font-weight-bold text-primary">{{card.title}}</td>
									<td class="font-weight-bold d-none" style="height: auto; background-color:#c1e0f7">
									</td>
									<td>{{card.reward_type.name}}</td>
									<td>{{card.rate_range}}</td>
									<td class="signup-bonus">{{card.signup_bonus.friendly_bonus}}<i
											class="far fa-question-circle pl-1 text-black-50 fa-m" data-toggle="popover"
											data-placement="right" data-trigger="hover" data-html="true"
											data-content="<div>{{card.signup_bonus.description}}</div>"></i></td>
									<td id="annual_fee"><span>$</span>{{card.fee}}</td>
									<td>{{card.friendly_fee}}</td>
									<th scope="col" style="display: none;">Card ID</th>
									<td id="air_pts" style="display: none;">{{card.air_pts}}</td>
									<td id="cable_pts" style="display: none;">{{card.cable_pts}}</td>
									<td id="car_pts" style="display: none;">{{card.car_pts}}</td>
									<td id="dept_pts" style="display: none;">{{card.dept_pts}}</td>
									<td id="drug_pts" style="display: none;">{{card.drug_pts}}</td>
									<td id="entertain_pts" style="display: none;">{{card.entertain_pts}}</td>
									<td id="gas_pts" style="display: none;">{{card.gas_pts}}</td>
									<td id="home_pts" style="display: none;">{{card.home_pts}}</td>
									<td id="hotel_pts" style="display: none;">{{card.hotel_pts}}</td>
									<td id="office_pts" style="display: none;">{{card.office_pts}}</td>
									<td id="online_pts" style="display: none;">{{card.online_pts}}</td>
									<td id="phone_pts" style="display: none;">{{card.phone_pts}}</td>
									<td id="restaurant_pts" style="display: none;">{{card.restaurant_pts}}</td>
									<td id="supermarket_pts" style="display: none;">{{card.supermarket_pts}}</td>
									<td id="utility_pts" style="display: none;">{{card.utility_pts}}</td>
									<td id="everywhere_pts" style="display: none;">{{card.everywhere_pts}}</td>
								</tr>
								<!--collabsible card details-->
								<tr class="collapse" id="x{{card._id}}">
									<td colspan="8">
										<div class="container-fluid">
											<div class="row">
												<!--left column-->
												<div class="col-12 col-xl-4">
													<div class="row">
														<!--card image-->
														<div class="col-12 mt-4 text-center">
															<img src="{{card.image_url()}}"
																class="img-fluid mx-auto d-block;"
																alt="Responsive image">
														</div>
														<!--apply button-->
														<div class="col text-center">
															<figure class="figure">
																<a href="{{card.url}}" class="btn btn-primary btn-block"
																	role="button" target="_blank"
																	aria-pressed="true">Apply Now</a>
																<figcaption class="figure-caption small-text">You will
																	be redirected to an external site.</figcaption>
															</figure>
														</div>
													</div>
												</div>
												<!--end of left column-->
												<!--right column-->
												<div class="col-12 col-xl-8">
													<!--title-->
													<div class="row">
														<div class="col text-left font-weight-bold mt-4 bg-light">
															Rewards Details
														</div>
													</div>
													<!--rewards table-->
													<div class="row">
														<div class="col border table-responsive p-3">
															<table class="table table-bordered">
																<thead>
																	<tr>
																		<th class="text-center" scope="col">Earn Rate
																		</th>
																		<th class="text-center" scope="col">Category
																		</th>
																		<th scope="col">Description</th>
																	</tr>
																</thead>
																<tbody>
																	{% for reward in card.rewards %}
																	<tr>
																		<td class="text-center">
																			{{reward.reward_rate.friendly_rate()}}</td>
																		<td class="text-center">
																			{{reward.earning_category.name}}</td>
																		<td>{{reward.reward_rate.description}}</td>
																	</tr>
																	{% endfor %}
																</tbody>
															</table>
														</div>
													</div>
													<!--rewards table-->
													<!--title-->
													<div class="row">
														<div class="col text-left font-weight-bold mt-4 bg-light">
															Credit Card Company
														</div>
													</div>
													<!--bank name-->
													<div class="row">
														<div class="col border text-left py-2">
															{{card.bank.full_name}}
														</div>
													</div>
													<!--collabsible more details-->
													<!--title-->
													<div class="row">
														<div id="more-details"
															class="col font-weight-bold mt-4 bg-light moreDetails"
															data-toggle="collapse" href="#y{{card._id}}" role="button"
															aria-expanded="false" aria-controls="moreDetails">
															<span>See More Details</span>
															<i class="fas fa-chevron-down"></i>
														</div>
													</div>
													<!--list-->
													<div class="row">
														<div class="col border mb-4">
															<ul class="collapse" id="y{{card._id}}">
																{% for item in card.product_details %}
																<li>{{item.title}}</li>
																{% endfor %}
															</ul>
														</div>
													</div>
												</div>
												<!--end of right column-->
											</div>
											<!--end of row-->
										</div>
										<!--end of container fluid-->
									</td>
								</tr>
								<!--end of collabsible card details-->

								{% endfor %}
							</tbody>
						</table>
					</div>
					<!--pagination-->
					<div class='pagination-container'>
						<nav aria-label="Search results pages">
							<ul class="pagination">
								<li class="page-link" data-page="prev" id="prev2">
									<span>
										< <span class="sr-only">(current)
									</span></span>
								</li>
								<!--	Here the JS Function Will Add the Rows -->
								<li class="page-link" data-page="next" id="prev">
									<span> > <span class="sr-only">(current)</span></span>
								</li>
							</ul>
						</nav>
					</div>
					<!--rows count-->
					<div class="rows_count"></div>
				</div>
				<!--end of cards column-->
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</div>
	<!--end of container-fluid-->
</main>

<footer class="text-muted bg-dark py-5">
	<div class="container">
		<div class="row px-2 px-sm-4">
			<div class="col-9">
				<p>The information on this website originates from a third party <a href="https://ccstack.io/"
						target="_blank">API service</a> and thus, I do not guarantee its accuracy.
					<br>
					Actual terms may vary. Before submitting an application, always verify all terms and conditions with
					the offering institution.
					<br>
					Please <a href="mailto:juan-guzman-sd@gmail.com?subject=Capstone One Project">let me know</a> if you
					notice any differences.
				</p>
			</div>
			<div class="col-3">
				<p class="float-right">
					<a href="#">Back to top</a>
				</p>
			</div>
		</div>
	</div>

</footer>

{% endblock %}